@model Lifeway.Models.Students

@{
    ViewData["Title"] = "Details";
}

<div class="content-header">
    <div class="container-fluid">
        <h1>Students</h1>

        <div>
            <h4>Student Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.dob)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.dob)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Class)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Class)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.date_of_admission)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.date_of_admission)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.parent_name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.parent_name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.parent_contact)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.parent_contact)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.alt_contact)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.alt_contact)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.status)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.former_school)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.former_school)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.place_of_residence)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.place_of_residence)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.adm_no">Edit</a> |
            <a asp-action="AllStudents">Back to List</a>
        </div>
        </div>
    </div>
